html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 35px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    background-color: #eee;
    padding: 5px;
}